# diretorios
/build/
/bin/
target/
.settings/

# compilados
.class

# compactados
.war
.ear
.jar

# erro de jvm
hs_err_pid*

# logs
.log
.sql
.sqlite

# OSX
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.classpath
#.project
.tern-project
WebContent/WEB-INF/.faces-config.xml.jsfdia
/correcao